body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: beige;
}
img {
  width: auto;
  height: 400px;
  border-radius: 20px;
  margin: 10px;
  padding: 2px;
  box-shadow: 8px 4px 18px -3px rgba(0, 0, 0, 0.75);
}
h3 {
  text-align: center;
  font-size: 1.49em;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #4a312b;
}
a:hover,
p a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
#about,
#services,
#projects,
#contact {
  width: 90vw;
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
#nav-menu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #bdc8b9;
  box-shadow: 0px 5px 15px 1px #9ba797;
}
.me {
  display: flex;
  justify-content: space-around;
}

input,
textarea {
  width: 70vw;
  height: 40px;
  margin: 3px;
  background-color: #bdc8b9;
  border-radius: 5px;
  padding: 5px;
  font-weight: 100;
  border: none;
}
textarea {
  height: 100px;
}
input[type="submit"] {
  width: 200px;
  background-color: #aaa9a7;
  font-weight: 100;
  font-size: 1.1em;
}
input[type="submit"]:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
ul {
  list-style-type: square;
}
li > a,
p > a {
  text-decoration: underline;
}

.links {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}
footer {
  text-align: center;
  margin: 20px;
}