*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
 font-size: 16px;
 background-color: hsl(0, 0%, 95%) ;
}
h3, button{
  color: hsl(0, 0%, 95%);
}
h3{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}
p{
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
#container{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
}
main div{
  min-height: 25rem;
  max-width: 17.2rem;
  padding: 2.6rem;
  position: relative;
}
.first-column{
  background-color:hsl(31, 77%, 52%);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.second-column{
  background-color:hsl(184, 100%,22%);
}
.third-column{
  background-color:hsl(179, 100%, 13%) ;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
div img h3{
  margin-bottom: 1.8rem;
}
div p{
  margin-bottom: 6rem;
}
button a{
  text-decoration: none;
}
button{
  font-family: 'Lexend Deca', sans-serif;
  padding:10px 20px;
  border: 1px hsl(0, 0%, 95%)solid;
  border-radius: 30px;
}
.first-column button a{
  color:hsl(31, 77%, 52%);
}
.second-column button a{
  color:hsl(184, 100%,22%);
}
.third-column button a{
  color:hsl(179, 100%, 13%) ;
}
.link{
  width:40%;
  padding:10px;
  background-color: #151c23;
  margin-top:10%;
  margin-left: 20%;
}
.link a{
  color: white;
  font-size: 20px;
}
@media (max-width: 375px){
    main{
        flex-direction: column;
        padding: 5rem 0;
    }
    div{
        min-width: 22rem;
    }
  .first-content{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
}
  .third-content{
  border-top-right-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
    
}